@charset "utf-8";
@font-face {
  font-family: 'PT_Sans-Narrow-Bold';
  src: url("../fonts/pt_sans_narrow-b.eot");
  src: url("../fonts/pt_sans_narrow-b.eot") format("embedded-opentype"), url("../fonts/pt_sans_narrow-b.woff2") format("woff2"), url("../fonts/pt_sans_narrow-b.woff") format("woff"), url("../fonts/pt_sans_narrow-b.ttf") format("truetype"), url("../img/pt_sans_narrow-b.svg#PT_Sans-Narrow-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/roboto-r.eot");
  src: url("../fonts/roboto-r.eot") format("embedded-opentype"), url("../fonts/roboto-r.woff2") format("woff2"), url("../fonts/roboto-r.woff") format("woff"), url("../fonts/roboto-r.ttf") format("truetype"), url("../img/roboto-r.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  overflow-y: scroll;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, monospace; }

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

.ui-text-shadow, .ui-text-shadow-original {
  position: relative; }

.ui-text-shadow-original {
  z-index: 1;
  text-shadow: none; }

.ui-text-shadow-copy {
  position: absolute;
  z-index: 0;
  line-height: 110.74235%;
  left: 0;
  top: 0;
  text-shadow: none;
  color: transparent;
  visibility: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.invisible {
  visibility: hidden; }

.visible {
  visibility: visible; }

.reset-indents {
  padding: 0;
  margin: 0; }

.reset-font {
  line-height: 0;
  font-size: 0; }

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  font-size: 0; }
  .clearfix:after {
    clear: both; }

.pie {
  behavior: url(../assets/pie.htc); }

.thumb, .YMaps, .ymaps-map {
  color: #000; }

.table {
  display: table; }
  .table .tr {
    display: table-row; }
    .table .tr .td {
      display: table-cell; }

.table0, .table1, .table2 {
  border-collapse: collapse; }
  .table0 td, .table1 td, .table2 td {
    padding: 0.5em; }

.table1, .table2 {
  border: 1px solid #afafaf; }
  .table1 td, .table2 td, .table1 th, .table2 th {
    border: 1px solid #afafaf; }

.table2 th {
  background: #f00;
  color: #fff;
  padding: 0.5em; }

html, body {
  height: 100%;
  position: relative; }

html {
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.25;
  color: #000; }

body {
  min-width: 980px;
  text-align: left;
  background: #e6e6e6 url(../img/bg-rep.png) center top repeat; }

a {
  text-decoration: underline;
  color: #00aeff; }

a:hover {
  text-decoration: none; }

a img {
  border-color: #000; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background: #f8f8f6;
  padding: 2px 9px; }

h1 {
  font-size: 21px; }

h2 {
  font-size: 17px; }

h3 {
  font-size: 13px; }

h4 {
  font-size: 11px; }

h5 {
  font-size: 9px; }

h6 {
  font-size: 7px; }

h5, h6 {
  font-weight: bold; }

#wrapper {
  width: 100%;
  margin: 0 auto -180px;
  min-height: 100%; }

#header-wrap {
  width: 100%;
  background: #292929 url(../img/top-pt.png) center top repeat; }
  #header-wrap #header {
    width: 984px;
    min-height: 141px;
    margin: 0 auto; }

.company {
  width: 365px;
  margin: 35px 0 10px 22px;
  float: left; }

.company-logo {
  width: 71px;
  height: 63px;
  padding-right: 18px;
  float: left; }

.company-name {
  padding-top: 18px;
  line-height: 0.7;
  font-family: 'PT_Sans-Narrow-Bold';
  font-size: 35px;
  color: #fff; }

.company-desc {
  font-family: "Tahoma";
  font-size: 15px;
  line-height: 15px;
  color: #f6ca05; }

.header-container {
  width: 386px;
  float: right;
  margin: 46px 23px 20px 0; }
  .header-container .top-but {
    font-family: 'Roboto-Regular';
    font-size: 18px;
    float: right;
    min-height: 74px;
    padding-left: 46px;
    -moz-text-shadow: 0 1px 0 rgba(154, 49, 39, .7);
    -webkit-text-shadow: 0 1px 0 rgba(154, 49, 39, .7);
    text-shadow: 0 1px 0 rgba(154, 49, 39, .7); }
    .header-container .top-but .ui-text-shadow-copy-1 {
      visibility: visible;
      color: #9a3127;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
      left: 0;
      top: 1px; }
      .ie-8 .header-container .top-but .ui-text-shadow-copy-1 {
        top: 2px; }
    .header-container .top-but a {
      position: relative;
      display: block;
      width: 162px;
      height: 43px;
      border-bottom: 2px solid #d3483b;
      color: #fff;
      text-decoration: none;
      line-height: 43px;
      text-align: center;
      background-color: #e74b3d;
      outline: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-background-clip: padding;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -moz-box-shadow: inset 0 1px 0 #fd6d5f;
      -webkit-box-shadow: inset 0 1px 0 #fd6d5f;
      box-shadow: inset 0 1px 0 #fd6d5f;
      behavior: url(../assets/pie.htc); }
    .header-container .top-but a:hover {
      background-color: #ff5e44; }
    .header-container .top-but a:active {
      border-bottom: 0 none;
      border-top: 2px solid #d3483b;
      background-color: #d6493b;
      -moz-box-shadow: inset 0 -1px 0 #fd6d5f;
      -webkit-box-shadow: inset 0 -1px 0 #fd6d5f;
      box-shadow: inset 0 -1px 0 #fd6d5f; }

.site-phone {
  color: #fff;
  font-family: 'Roboto-Regular';
  text-align: right; }
  .site-phone p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold; }
  .site-phone a {
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; }

.site-mail {
  text-align: right; }
  .site-mail a {
    font-size: 15px;
    color: #f6ca05;
    font-weight: normal; }

.nav-top {
  width: 100%;
  border-bottom: 4px solid #ffc600;
  background: #ffd200; }
  .nav-top .nav-top-in {
    width: 966px;
    padding: 0 0 6px 1px;
    min-height: 58px;
    margin: 0 auto; }
    .nav-top .nav-top-in ul {
      max-width: 724px;
      float: left;
      line-height: 0;
      font-size: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
    .nav-top .nav-top-in ul:before, .nav-top .nav-top-in ul:after {
      display: table;
      content: "";
      line-height: 0;
      font-size: 0; }
    .nav-top .nav-top-in ul:after {
      clear: both; }
    .nav-top .nav-top-in ul li {
      display: inline-block;
      vertical-align: top;
      font-family: 'Roboto-Regular';
      font-size: 14px;
      line-height: normal;
      padding: 10px 2px 6px 3px;
      background: url(../img/m-top-pointer.gif) left 27px no-repeat; }
      .nav-top .nav-top-in ul li a {
        position: relative;
        display: block;
        padding: 13px 12px;
        color: #3d3d3d;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding-box;
        behavior: url(../assets/pie.htc); }
        .nav-top .nav-top-in ul li a:hover {
          color: #fff;
          background-color: #e74b3d;
          -moz-box-shadow: 0 2px 0 #d3483b, inset 0 1px 0 #fd6d5f;
          -webkit-box-shadow: 0 2px 0 #d3483b, inset 0 1px 0 #fd6d5f;
          box-shadow: 0 2px 0 #d3483b, inset 0 1px 0 #fd6d5f; }
      .nav-top .nav-top-in ul li.active {
        padding: 0 2px 0 3px;
        margin-left: 1px;
        background: none; }
        .nav-top .nav-top-in ul li.active a {
          position: relative;
          padding: 23px 12px 18px;
          background: #292929 url(../img/top-pt.png) center top repeat;
          color: #fff;
          -webkit-border-radius: 0 0 3px 3px;
          -moz-border-radius: 0 0 3px 3px;
          -ms-border-radius: 0 0 3px 3px;
          -o-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
          -webkit-background-clip: padding;
          -moz-background-clip: padding;
          background-clip: padding-box;
          behavior: url(../assets/pie.htc); }
          .nav-top .nav-top-in ul li.active a:hover {
            background: #292929 url(../img/top-pt.png) center top repeat;
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            -ms-border-radius: 0 0 3px 3px;
            -o-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
            -webkit-background-clip: padding;
            -moz-background-clip: padding;
            background-clip: padding-box;
            -moz-box-shadow: 0 0 0 0;
            -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0; }
      .nav-top .nav-top-in ul li:first-child {
        padding-left: 0;
        background: none; }

.search-wrap {
  position: relative;
  margin-top: 18px;
  margin-right: 21px;
  float: right;
  min-width: 220px;
  height: 32px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #ffd800;
  -webkit-box-shadow: 0 1px 0 #ffd800;
  box-shadow: 0 1px 0 #ffd800;
  behavior: url(../assets/pie.htc); }
  .search-wrap input {
    outline: none; }
  .search-wrap input[type="text"] {
    float: left;
    min-width: 166px;
    height: 14px;
    padding: 9px 2px 9px 18px;
    margin: 0;
    border: none;
    font-size: 14px;
    font-style: italic;
    color: #a6a6a6;
    background: none; }
  .search-wrap input[type="submit"] {
    width: 34px;
    height: 32px;
    border: none;
    background: url(../img/search-but.png) 0 0 no-repeat;
    padding: 0;
    margin: 0; }
    .search-wrap input[type="submit"]:before, .search-wrap input[type="submit"]:after {
      display: table;
      content: "";
      line-height: 0;
      font-size: 0; }
    .search-wrap input[type="submit"]:after {
      clear: both; }
    .search-wrap input[type="submit"]:hover {
      background: url(../img/search-but.png) -34px 0 no-repeat; }
    .search-wrap input[type="submit"]:active {
      background: url(../img/search-but.png) -68px 0 no-repeat; }

#middle {
  position: relative;
  padding-bottom: 180px;
  width: 982px;
  border-left: 1px solid #d1d3df;
  border-right: 1px solid #d1d3df;
  margin: 0 auto;
  background: #fff;
  height: 1%; }
  #middle:before, #middle:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0; }
  #middle:after {
    clear: both; }

.side-left #content {
  margin-left: 262px; }

.side-left #side-left {
  display: block; }

#container {
  width: 100%;
  float: left;
  overflow: hidden; }

#content {
  min-height: 1px;
  padding: 21px 30px 0 21px; }
  #content:before, #content:after {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0; }
  #content:after {
    clear: both; }

.bx-wrapper ul, .bx-wrapper .bx-controls {
  font-size: 0;
  line-height: 0; }
  .bx-wrapper .bx-controls a {
    outline: 0;
    text-indent: -9999px;
    text-align: left;
    display: block; }
  .bx-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    .bx-wrapper ul img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
      font-size: 12px; }

.slider-wrap {
  position: relative;
  margin: 0 auto 42px;
  height: 237px;
  width: 667px; }
  .slider-wrap li {
    height: 237px;
    line-height: 237px; }
  .slider-wrap .bx-viewport {
    background: #fff;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    behavior: url(../assets/pie.htc); }
  .slider-wrap .bx-pager, .slider-wrap .bx-controls-auto {
    position: absolute;
    bottom: -20px;
    width: 100%;
    z-index: 60; }
  .slider-wrap .bx-loading {
    min-height: 50px;
    background: #fff url(../img/bx_loader.gif) 50% 50% no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80; }
  .slider-wrap .bx-pager {
    text-align: center; }
    .slider-wrap .bx-pager .bx-pager-item {
      display: inline-block; }
    .slider-wrap .bx-pager.bx-default-pager a {
      background: url(../img/slider-nav.png) 0 0 no-repeat;
      width: 8px;
      height: 8px;
      margin: 0 4px; }
    .slider-wrap .bx-pager.bx-default-pager a:hover {
      background: url(../img/slider-nav.png) 0 -41px no-repeat; }
    .slider-wrap .bx-pager.bx-default-pager a:active, .slider-wrap .bx-pager.bx-default-pager a.active {
      background: url(../img/slider-nav.png) 0 -19px no-repeat; }

#side-left {
  display: none;
  position: relative;
  float: left;
  margin-left: -100%;
  width: 239px;
  padding-left: 23px;
  padding-top: 21px; }

.left-btn {
  padding-bottom: 21px; }
  .left-btn a {
    position: relative;
    display: block;
    width: 237px;
    min-height: 45px;
    background-color: #e74b3d;
    border-bottom: 2px solid #d3483b;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 #fd6d5f;
    -webkit-box-shadow: inset 0 1px 0 #fd6d5f;
    box-shadow: inset 0 1px 0 #fd6d5f;
    behavior: url(../assets/pie.htc); }
    .left-btn a .left-btn-bg {
      display: block;
      background: url(../img/left-but-bg.png) 15px center no-repeat;
      padding: 13px 8px 13px 60px; }
    .left-btn a:hover {
      background-color: #ff5d43; }
    .left-btn a:active {
      border-bottom: 0 none;
      border-top: 2px solid #d3483b;
      background-color: #d6493b;
      -moz-box-shadow: inset 0 -1px 0 #fd6d5f;
      -webkit-box-shadow: inset 0 -1px 0 #fd6d5f;
      box-shadow: inset 0 -1px 0 #fd6d5f; }

.menu-left {
  position: relative;
  padding: 8px 0;
  margin: 0 0 20px;
  list-style: none;
  border: 1px solid #e3e3e3;
  background-color: #f7f7f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  behavior: url(../assets/pie.htc); }
  .menu-left > li {
    border-top: 1px solid #e3e3e3; }
    .menu-left > li > a {
      display: block;
      padding: 6px 17px 6px 17px;
      border: 1px solid #f7f7f5;
      color: #5b5b5b;
      font-family: 'Roboto-Regular';
      font-size: 15px;
      text-decoration: none; }
    .menu-left > li > a:hover {
      color: #fff;
      border: 1px solid #a03329;
      background-color: #e84c3d; }
    .menu-left > li > a:active {
      color: #fff;
      border: 1px solid #a03329;
      background-color: #ce4437; }
    .menu-left > li > a.activ {
      color: #fff;
      border: 1px solid #515151;
      background-color: #656565; }
    .menu-left > li:first-child {
      border: none; }
    .menu-left > li ul {
      background-color: #ebebeb;
      list-style: none;
      padding: 0;
      margin: 0; }
    .menu-left > li ul li {
      border-top: 1px solid #e3e3e3; }
      .menu-left > li ul li a {
        display: block;
        border-left: 6px solid #e84c3d;
        padding: 5px 17px 5px 21px;
        font-size: 13px;
        color: #3e3e3e;
        text-decoration: none; }
        .menu-left > li ul li a:hover {
          background-color: #d7d7d7; }
      .menu-left > li ul li ul li a {
        padding-left: 25px;
        border-left: 6px solid #ebebeb; }
        .menu-left > li ul li ul li a:hover {
          background: none;
          text-decoration: underline; }
        .menu-left > li ul li ul li ul li a {
          padding-left: 28px; }
          .menu-left > li ul li ul li ul li ul li a {
            padding-left: 30px; }

.left-edit-block {
  position: relative;
  margin-bottom: 24px;
  background-color: #656565;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  behavior: url(../assets/pie.htc); }
  .left-edit-block .left-edit-block-name {
    position: relative;
    padding: 11px 17px;
    background-color: #e74b3d;
    border: 1px solid #d54739;
    color: #fff;
    font-family: "Tahoma";
    font-size: 20px;
    -webkit-border-radius: 3px 3px 1px 1px;
    -moz-border-radius: 3px 3px 1px 1px;
    -ms-border-radius: 3px 3px 1px 1px;
    -o-border-radius: 3px 3px 1px 1px;
    border-radius: 3px 3px 1px 1px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
    behavior: url(../assets/pie.htc); }
  .left-edit-block .left-edit-block-body {
    position: relative;
    padding: 16px 17px;
    background-color: #656565;
    border: 1px solid #656565;
    color: #dcdcdc;
    font-family: "Tahoma";
    font-size: 13px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    behavior: url(../assets/pie.htc); }

.left-news-block {
  padding: 0 16px;
  font-family: "Tahoma"; }
  .left-news-block .left-news-name {
    color: #474747;
    font-size: 20px;
    text-transform: uppercase; }
    .left-news-block .left-news-name a {
      color: #00adff;
      font-size: 15px;
      text-decoration: underline;
      text-transform: none; }
    .left-news-block .left-news-name a:hover {
      text-decoration: none; }
  .left-news-block .left-news-body {
    padding-top: 16px; }
    .left-news-block .left-news-body .left-news-date {
      color: #656565;
      font-size: 13px; }
    .left-news-block .left-news-body .left-news-note a {
      color: #00aeff;
      font-size: 13px;
      text-decoration: underline; }
      .left-news-block .left-news-body .left-news-note a:hover {
        color: #00aeff;
        text-decoration: none; }

#side-right {
  display: none;
  position: relative;
  float: left;
  margin-left: 0;
  width: 0;
  background-color: #f6ca05; }

#footer {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 984px;
  min-height: 180px; }

.menu-bot {
  position: relative;
  width: 924px;
  min-height: 41px;
  display: inline-block;
  padding: 0 29px;
  margin: 0 0 -7px;
  background: #fff;
  border-left: 1px solid #d1d3df;
  border-right: 1px solid #d1d3df;
  list-style: none;
  font-family: 'Roboto-Regular';
  font-size: 12px; }
  .menu-bot li {
    float: left; }
    .menu-bot li a {
      position: relative;
      display: block;
      padding: 15px;
      color: #545454;
      text-decoration: none; }
    .menu-bot li a:hover {
      color: #555;
      text-decoration: underline; }
    .menu-bot li a.activ {
      position: relative;
      background: #292929 url(../img/top-pt.png) center top repeat;
      color: #ffd200;
      font-family: 'Roboto-Regular';
      font-size: 12px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -webkit-background-clip: padding;
      -moz-background-clip: padding;
      background-clip: padding-box;
      behavior: url(../assets/pie.htc); }
      .menu-bot li a.activ:hover {
        text-decoration: none; }

#footer-container {
  position: relative;
  display: inline-block;
  width: 984px;
  min-height: 112px;
  background: #292929 url(../img/top-pt.png) center top repeat;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  behavior: url(../assets/pie.htc); }
  #footer-container .left-container-in {
    min-width: 330px;
    margin-left: 41px;
    padding-top: 34px;
    float: left;
    font-family: 'Roboto-Regular'; }
    #footer-container .left-container-in .site-name-bot {
      min-height: 70px;
      color: #797979;
      font-family: 'Roboto-Regular';
      font-size: 12px;
      float: left; }
    #footer-container .left-container-in .site-name-bot p {
      margin: 0;
      padding: 0;
      line-height: normal; }
    #footer-container .left-container-in .site-adress {
      width: 168px;
      padding-left: 170px;
      padding-bottom: 15px;
      color: #797979;
      font-family: 'Roboto-Regular';
      font-size: 12px; }
    #footer-container .left-container-in .site-adress a {
      color: #797979;
      text-decoration: none; }
    #footer-container .left-container-in .site-adress p {
      margin: 0;
      padding: 0;
      line-height: normal; }
  #footer-container .right-container-in {
    float: right;
    margin-right: 28px;
    padding-top: 34px; }
    #footer-container .right-container-in .site-copyright {
      position: relative;
      width: 138px;
      /*
       height: 31px;
       padding-right: 37px;
       padding-top: 3px;
       color: #797979;
       font-family: 'Roboto-Regular';
       font-size: $siteFontSize - 1;
       text-align: right;
       span.copyright img {
       position: absolute;
       right: 0;
       top: 0;
       bottom: 0;
       width: 26px;
       height: 0;
       padding-top: 34px;
       margin: auto 0;
       background: url(../img/mega.png) right top no-repeat;
       }
       a {
       color: #797979;
       text-decoration: underline;
       &:hover {
       color: #797979;
       text-decoration: none;
       }
       }
       */ }
  #footer-container .site-counters {
    text-align: center;
    padding-top: 39px; }

.bot-line {
  height: 27px; }
