@charset 'utf-8';
@import 'variables';

@font-face {
  font-family: 'PT_Sans-Narrow-Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/pt_sans_narrow-b.eot');
  src: url('../fonts/pt_sans_narrow-b.eot') format('embedded-opentype'), url('../fonts/pt_sans_narrow-b.woff2') format('woff2'), url('../fonts/pt_sans_narrow-b.woff') format('woff'), url('../fonts/pt_sans_narrow-b.ttf') format('truetype'), url('../fonts/pt_sans_narrow-b.svg#PT_Sans-Narrow-Bold') format('svg');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/roboto-r.eot');
  src: url('../fonts/roboto-r.eot') format('embedded-opentype'), url('../fonts/roboto-r.woff2') format('woff2'), url('../fonts/roboto-r.woff') format('woff'), url('../fonts/roboto-r.ttf') format('truetype'), url('../fonts/roboto-r.svg#Roboto-Regular') format('svg');
}

html {
  font-family: sans-serif;

  overflow-y: scroll;

      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;

  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;

  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  &:active,
  &:hover {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;

  margin: .67em 0;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;

  position: relative;
  top: -.5em;

  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;

  margin: 0;

  color: inherit;
}

button {
  overflow: visible;

  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type='button'] {
  cursor: pointer;

  -webkit-appearance: button;
}

input {
  &[type='reset'],
  &[type='submit'] {
    cursor: pointer;

    -webkit-appearance: button;
  }
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;

  border: 0;
}

input {
  line-height: normal;
  &::-moz-focus-inner {
    padding: 0;

    border: 0;
  }
  &[type='checkbox'],
  &[type='radio'] {
    box-sizing: border-box;
    padding: 0;
  }
  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }
  &[type='search'] {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;

  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;

  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: ' (' attr(href) ')';
    }
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;

    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.ui-text-shadow {
  position: relative;
}

.ui-text-shadow-original {
  position: relative;
  z-index: 1;

  text-shadow: none;
}

.ui-text-shadow-copy {
  line-height: 110.74235%;

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  visibility: hidden;

  color: transparent;
  text-shadow: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.reset-indents {
  margin: 0;
  padding: 0;
}

.reset-font {
  font-size: 0;
  line-height: 0;
}

.clear-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.clearfix {
  &:before {
    font-size: 0;
    line-height: 0;

    display: table;

    content: '';
  }
  &:after {
    font-size: 0;
    line-height: 0;

    display: table;
    clear: both;

    content: '';
  }
}

.pie {
  behavior: url(../assets/pie.htc);
}

.thumb,
.YMaps,
.ymaps-map {
  color: #000;
}

.table {
  display: table;
  .tr {
    display: table-row;
    .td {
      display: table-cell;
    }
  }
}

.table0,
.table1,
.table2 {
  border-collapse: collapse;
}

.table0 td,
.table1 td,
.table2 td {
  padding: .5em;
}

.table1,
.table2,
.table1 td,
.table2 td,
.table1 th {
  border: 1px solid #afafaf;
}

.table2 th {
  padding: .5em;

  color: #fff;
  border: 1px solid #afafaf;
  background: #f00;
}

html,
body {
  position: relative;

  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.25;

  overflow-y: scroll;

  color: #000;
}

body {
  min-width: 980px;

  text-align: left;

  background: #e6e6e6 url(../img/bg-rep.png) center top repeat;
}

a {
  text-decoration: underline;

  color: #00aeff;
  &:hover {
    text-decoration: none;
  }
  img {
    border-color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;

  padding: 2px 9px;

  color: #000;
  background: #f8f8f6;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 13px;
}

h4 {
  font-size: 11px;
}

h5 {
  font-size: 9px;
}

h6 {
  font-size: 7px;
}

h5,
h6 {
  font-weight: bold;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto -180px;
}

#header-wrap {
  width: 100%;

  background: #292929 url(../img/top-pt.png) center top repeat;
  #header {
    // width: 984px;
    width: 1140px;
    min-height: 141px;
    margin: 0 auto;
  }
}

.company {
  float: left;
  width: 690px;
  padding-bottom: 20px;
  margin: 40px 0 0;
  background-image: url(../img/shapka-metall.png);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 54%;
}

.company-logo {
  float: left;

  width: 285px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}

.company-name {
  font-family: 'PT_Sans-Narrow-Bold';
  font-size: 35px;
  line-height: .7;

  padding-top: 18px;

  color: #fff;
}

.company-desc {
  font-family: 'Tahoma';
  font-size: 15px;
  line-height: 15px;

  color: #f6ca05;
}

.header-container {
  float: right;

  width: 450px;
  margin: 35px 0 20px 0;

  @extend .clearfix;
  .header-container--nav {
    display: block;
    float: left;

    width: 60%;
    margin: 0;
padding: 5px 0 0;

    list-style-type: none;
    li {
      position: relative;

      margin: 0 0 15px;
      padding: 0 0 0 60px;
      &:before {
        position: absolute;
        top: 0;
        left: 37px;

        display: block;

        width: 15px;
        height: 15px;

        content: '';

        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
      a {
        font-family: 'Roboto-Regular';
        font-size: 13px;
        font-weight: normal;

        text-decoration: underline;

        color: #ffd200;
        &:hover {
          text-decoration: none;
        }
      }
      &:nth-child(1) {
        &:before {
          background-image: url(../img/calculator.png);
        }
      }
      &:nth-child(2) {
        &:before {
          background-image: url(../img/cube.png);
        }
      }
      &:nth-child(3) {
        &:before {
          background-image: url(../img/directory-submission-symbol.png);
        }
      }
    }
  }
  .top-but {
    font-family: 'Roboto-Regular';
    font-size: 18px;

    float: right;

    min-height: 74px;
    padding-left: 46px;

    text-shadow: 0 1px 0 rgba(154, 49, 39, .7);
    .ui-text-shadow-copy-1 {
      top: 1px;
      left: 0;

      visibility: visible;

      color: #9a3127;

      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    }
  }
}

.ie-8 .header-container .top-but .ui-text-shadow-copy-1 {
  top: 2px;
}

.header-container .top-but a {
  line-height: 43px;

  position: relative;

  display: block;

  width: 162px;
  height: 43px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border-bottom: 2px solid #d3483b;
      border-radius: 4px;
  outline: none;
  background-color: #e74b3d;
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 #fd6d5f;

  -ms-border-radius: 4px;
   -o-border-radius: 4px;
  behavior: url(../assets/pie.htc);
  &:hover {
    background-color: #ff5e44;
  }
  &:active {
    border-top: 2px solid #d3483b;
    border-bottom: 0 none;
    background-color: #d6493b;
    box-shadow: inset 0 -1px 0 #fd6d5f;
  }
}

.site-phone {
  font-family: 'Roboto-Regular';
padding-top: 10px;
  float: right;

  width: 40%;

  text-align: right;

  color: #fff;
  p {
    font-size: 20px;
    font-weight: bold;

    margin: 0;
    padding: 0;
  }
  a {
    font-family: 'Roboto-Regular';
    font-size: 20px;
    font-weight: bold;

    text-decoration: none;

    color: #fff;
  }
}

.site-mail {
  float: right;

  width: 40%;

  text-align: right;
  a {
    font-size: 15px;
    font-weight: normal;

    color: #f6ca05;
  }
}

.nav-top {
  width: 100%;

  border-bottom: 4px solid #ffc600;
  background: #ffd200;
  .nav-top-in {
    // width: 966px;
    width: 1140px;
    min-height: 58px;
    margin: 0 auto;
    padding: 0 0 6px 1px;
    ul {
      font-size: 0;
      line-height: 0;

      float: left;

      max-width: 724px;
      margin: 0;
      padding: 0;

      list-style: none;
      &:before {
        font-size: 0;
        line-height: 0;

        display: table;

        content: '';
      }
      &:after {
        font-size: 0;
        line-height: 0;

        display: table;
        clear: both;

        content: '';
      }
      li {
        font-family: 'Roboto-Regular';
        font-size: 14px;
        line-height: normal;

        display: inline-block;

        padding: 10px 2px 6px 3px;

        vertical-align: top;

        background: url(../img/m-top-pointer.gif) left 27px no-repeat;
        a {
          position: relative;

          display: block;

          padding: 13px 12px;

          text-decoration: none;

          color: #3d3d3d;
              border-radius: 3px;
          background-clip: padding-box;

          -ms-border-radius: 3px;
           -o-border-radius: 3px;
          behavior: url(../assets/pie.htc);
          &:hover {
            color: #fff;
            background-color: #e74b3d;
            box-shadow: 0 2px 0 #d3483b, inset 0 1px 0 #fd6d5f;
          }
        }
        &.current_page_item,
        &.active {
          margin-left: 1px;
          padding: 0 2px 0 3px;

          background: none;
          a {
            position: relative;

            padding: 23px 12px 18px;

            color: #fff;
            border-radius: 0 0 3px 3px;
            background: #292929 url(../img/top-pt.png) center top repeat;
            background-clip: padding-box;

            behavior: url(../assets/pie.htc);
            &:hover {
                  border-radius: 0 0 3px 3px;
              background: #292929 url(../img/top-pt.png) center top repeat;
              background-clip: padding-box;
              box-shadow: 0 0 0 0;

              -ms-border-radius: 0 0 3px 3px;
               -o-border-radius: 0 0 3px 3px;
            }
          }
        }
        &:first-child {
          padding-left: 0;

          background: none;
        }
      }
    }
  }
}

.search-wrap {
  position: relative;

  float: right;

  min-width: 220px;
  height: 32px;
  margin-top: 18px;
  margin-right: 21px;

      border-radius: 3px;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 1px 0 #ffd800;

  -ms-border-radius: 3px;
   -o-border-radius: 3px;
  behavior: url(../assets/pie.htc);
  input {
    outline: none;
    &[type='text'] {
      font-size: 14px;
      font-style: italic;

      float: left;

      min-width: 166px;
      height: 14px;
      margin: 0;
      padding: 9px 2px 9px 18px;

      color: #a6a6a6;
      border: none;
      background: none;
    }
    &[type='submit'] {
      width: 34px;
      height: 32px;
      margin: 0;
      padding: 0;

      border: none;
      background: url(../img/search-but.png) 0 0 no-repeat;
      &:before {
        font-size: 0;
        line-height: 0;

        display: table;

        content: '';
      }
      &:after {
        font-size: 0;
        line-height: 0;

        display: table;
        clear: both;

        content: '';
      }
      &:hover {
        background: url(../img/search-but.png) -34px 0 no-repeat;
      }
      &:active {
        background: url(../img/search-but.png) -68px 0 no-repeat;
      }
    }
  }
}

#middle {
  position: relative;
  // width: 982px;
  /* height: 1%; */

  width: 1140px;
  margin: 0 auto;
  padding-bottom: 180px;

  border-right: 1px solid #d1d3df;
  border-left: 1px solid #d1d3df;
  background: #fff;
  &:before {
    font-size: 0;
    line-height: 0;

    display: table;

    content: '';
  }
  &:after {
    font-size: 0;
    line-height: 0;

    display: table;
    clear: both;

    content: '';
  }
}

.side-left {
  #content {
    margin-left: 262px;
  }
  #side-left {
    display: block;
  }
}

#container {
  float: left;
  overflow: hidden;

  width: 100%;
}

#content {
  min-height: 1px;
  padding: 21px 30px 0 21px;
  &:before {
    font-size: 0;
    line-height: 0;

    display: table;

    content: '';
  }
  &:after {
    font-size: 0;
    line-height: 0;

    display: table;
    clear: both;

    content: '';
  }
}

.bx-wrapper {
  ul {
    font-size: 0;
    line-height: 0;
  }
  .bx-controls {
    font-size: 0;
    line-height: 0;
    a {
      display: block;

      text-align: left;
      text-indent: -9999px;

      outline: 0;
    }
  }
  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
    img {
      font-size: 12px;

      max-width: 100%;
      max-height: 100%;

      vertical-align: middle;
    }
  }
}

.slider-wrap {
  position: relative;

  width: 667px;
  height: 237px;
  margin: 0 auto 42px;
  li {
    line-height: 237px;

    height: 237px;
  }
  .bx-viewport {
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background: #fff;

        -ms-border-radius: 2px;
         -o-border-radius: 2px;
    behavior: url(../assets/pie.htc);
  }
  .bx-pager,
  .bx-controls-auto {
    position: absolute;
    z-index: 60;
    bottom: -20px;

    width: 100%;
  }
  .bx-loading {
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: 50px;

    background: #fff url(../img/bx_loader.gif) 50% 50% no-repeat;
  }
  .bx-pager {
    text-align: center;
    .bx-pager-item {
      display: inline-block;
    }
    &.bx-default-pager a {
      width: 8px;
      height: 8px;
      margin: 0 4px;

      background: url(../img/slider-nav.png) 0 0 no-repeat;
      &:hover {
        background: url(../img/slider-nav.png) 0 -41px no-repeat;
      }
      &:active,
      &.active {
        background: url(../img/slider-nav.png) 0 -19px no-repeat;
      }
    }
  }
}

#side-left {
  position: relative;

  display: none;
  float: left;

  width: 239px;
  margin-left: -100%;
  padding-top: 21px;
  padding-left: 23px;
}

.left-btn {
  /* padding-bottom: 21px; */
  a {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: bold;

    position: relative;

    display: block;

    width: 237px;
    min-height: 45px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-bottom: 2px solid #d3483b;
        border-radius: 4px;
    outline: none;
    background-color: #e74b3d;
    background-clip: padding-box;
    box-shadow: inset 0 1px 0 #fd6d5f;

    -background-clip: padding;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
    behavior: url(../assets/pie.htc);
    .left-btn-bg {
      display: block;

      padding: 13px 8px 13px 60px;

      background: url(../img/left-but-bg.png) 15px center no-repeat;
    }
    &:hover {
      background-color: #ff5d43;
    }
    &:active {
      border-top: 2px solid #d3483b;
      border-bottom: 0 none;
      background-color: #d6493b;
      box-shadow: inset 0 -1px 0 #fd6d5f;
    }
  }
}

.widget {
  overflow: hidden;
}
#menu-sidebar,
.menu-left {
  position: relative;

  margin: 0;
  padding: 8px 0;

  list-style: none;

  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background-color: #f7f7f5;
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 #fff;

  behavior: url(../assets/pie.htc);
  > li {
    border-top: 1px solid #e3e3e3;
    > a {
      font-family: 'Roboto-Regular';
      font-size: 15px;

      display: block;

      padding: 6px 17px 6px 17px;

      text-decoration: none;

      color: #5b5b5b;
      border: 1px solid #f7f7f5;
      &:hover {
        color: #fff;
        border: 1px solid #a03329;
        background-color: #e84c3d;
      }
      &:active {
        color: #fff;
        border: 1px solid #a03329;
        background-color: #ce4437;
      }
      &.activ {
        color: #fff;
        border: 1px solid #515151;
        background-color: #656565;
      }
    }
    &:first-child {
      border: none;
    }
    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      background-color: #ebebeb;
      li {
        border-top: 1px solid #e3e3e3;
        a {
          font-size: 13px;

          display: block;

          padding: 5px 17px 5px 21px;

          text-decoration: none;

          color: #3e3e3e;
          border-left: 6px solid #e84c3d;
          &:hover {
            background-color: #d7d7d7;
          }
        }
        ul li {
          a {
            padding-left: 25px;

            border-left: 6px solid #ebebeb;
            &:hover {
              text-decoration: underline;

              background: none;
            }
          }
          ul li {
            a {
              padding-left: 28px;
            }
            ul li a {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}

.left-edit-block {
  position: relative;

  margin-bottom: 24px;

      border-radius: 3px;
  background-color: #656565;

  -ms-border-radius: 3px;
   -o-border-radius: 3px;
  behavior: url(../assets/pie.htc);
  .left-edit-block-name {
    font-family: 'Tahoma';
    font-size: 20px;

    position: relative;

    padding: 11px 17px;

    color: #fff;
    border: 1px solid #d54739;
    border-radius: 3px 3px 1px 1px;
    background-color: #e74b3d;
    background-clip: padding-box;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);

    behavior: url(../assets/pie.htc);
  }
  .left-edit-block-body {
    font-family: 'Tahoma';
    font-size: 13px;

    position: relative;

    padding: 16px 17px;

    color: #dcdcdc;
    border: 1px solid #656565;
    border-radius: 0 0 3px 3px;
    background-color: #656565;
    background-clip: padding-box;

    behavior: url(../assets/pie.htc);
  }
}

.left-news-block {
  font-family: 'Tahoma';

  padding: 0 16px;
  .left-news-name {
    font-size: 20px;

    text-transform: uppercase;

    color: #474747;
    a {
      font-size: 15px;

      text-decoration: underline;
      text-transform: none;

      color: #00adff;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .left-news-body {
    padding-top: 16px;
    .left-news-date {
      font-size: 13px;

      color: #656565;
    }
    .left-news-note a {
      font-size: 13px;

      text-decoration: underline;

      color: #00aeff;
      &:hover {
        text-decoration: none;

        color: #00aeff;
      }
    }
  }
}

#side-right {
  position: relative;

  display: none;
  float: left;

  width: 0;
  margin-left: 0;

  background-color: #f6ca05;
}

#footer {
  position: relative;
  // width: 984px;

  width: 1140px;
  max-width: 100%;
  min-height: 180px;
  margin: 0 auto;
}

.menu-bot {
  font-family: 'Roboto-Regular';
  font-size: 12px;

  position: relative;

  display: inline-block;
  // width: 924px;

  width: 1082px;
  min-height: 41px;
  margin: 0 0 -7px;
  padding: 0 29px;

  list-style: none;

  border-right: 1px solid #d1d3df;
  border-left: 1px solid #d1d3df;
  background: #fff;
  li {
    float: left;
    a {
      position: relative;

      display: block;

      padding: 15px;

      text-decoration: none;

      color: #545454;
      &:hover {
        text-decoration: underline;

        color: #555;
      }
      &.activ {
        font-family: 'Roboto-Regular';
        font-size: 12px;

        position: relative;

        color: #ffd200;
        border-radius: 4px;
        background: #292929 url(../img/top-pt.png) center top repeat;
        background-clip: padding-box;

        behavior: url(../assets/pie.htc);
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.current-menu-item {
      a {
        font-family: 'Roboto-Regular';
        font-size: 12px;

        position: relative;

        color: #ffd200;
        border-radius: 4px;
        background: #292929 url(../img/top-pt.png) center top repeat;
        background-clip: padding-box;

        behavior: url(../assets/pie.htc);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#footer-container {
  position: relative;

  display: inline-block;

  width: 984px;
  width: 1140px;
  min-height: 112px;

  border-radius: 0 0 3px 3px;
  background: #292929 url(../img/top-pt.png) center top repeat;

  behavior: url(../assets/pie.htc);
  .left-container-in {
    font-family: 'Roboto-Regular';

    float: left;

    min-width: 330px;
    margin-left: 41px;
    padding-top: 34px;
    .site-name-bot {
      font-family: 'Roboto-Regular';
      font-size: 12px;

      float: left;

      min-height: 70px;

      color: #797979;
      p {
        line-height: normal;

        margin: 0;
        padding: 0;
      }
    }
    .site-adress {
      font-family: 'Roboto-Regular';
      font-size: 12px;

      width: 168px;
      padding-bottom: 15px;
      padding-left: 170px;

      color: #797979;
      a {
        text-decoration: none;

        color: #797979;
      }
      p {
        line-height: normal;

        margin: 0;
        padding: 0;
      }
    }
  }
  .right-container-in {
    float: right;

    margin-right: 28px;
    padding-top: 34px;
    .site-copyright {
      position: relative;

      width: 138px;
      /*
       height: 31px;
       padding-right: 37px;
       padding-top: 3px;
       color: #797979;
       font-family: 'Roboto-Regular';
       font-size: $siteFontSize - 1;
       text-align: right;
       span.copyright img {
       position: absolute;
       right: 0;
       top: 0;
       bottom: 0;
       width: 26px;
       height: 0;
       padding-top: 34px;
       margin: auto 0;
       background: url(../img/mega.png) right top no-repeat;
       }
       a {
       color: #797979;
       text-decoration: underline;
       &:hover {
       color: #797979;
       text-decoration: none;
       }
       }
       */
    }
  }
  .site-counters {
    padding-top: 39px;

    text-align: center;
  }
}

.bot-line {
  height: 27px;
}

@import 'highslide';
@import 'calendar';

@import 'wordpress';

#container {
  float: right;
  overflow: hidden;

  width: 870px;
}
.side-left #side-left {
  margin-bottom: 25px;
  margin-left: 0;
}
.side-left #content {
  margin-left: 0;
}


.widget {
  margin: 0 0 20px;
  h6 {
    font-size: 20px;
    line-height: 1.2;

    margin: 0 0 10px;
    padding: 0;

    text-transform: uppercase;

    color: #474747;
    background-color: transparent;
  }
  &#text-3 {
    font-family: Tahoma;
    font-size: 13px;

    position: relative;

    padding: 0 17px 16px;

    color: #dcdcdc;
    border: 1px solid #656565;
    border-radius: 3px 3px 1px 1px;
    background-color: #656565;
    background-clip: padding-box;
    h6 {
      font-family: Tahoma;
      font-size: 18px;
      font-weight: normal;

      position: relative;

      margin-right: -17px;
      margin-left: -17px;
      padding: 11px 17px;

      text-transform: none;

      color: #fff;
      border: 1px solid #d54739;
      border-radius: 3px 3px 1px 1px;
      background-color: #e74b3d;
      background-clip: padding-box;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.3);

      behavior: url(../assets/pie.htc);
    }
  }
  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    li {
      padding: 5px 0;
    }
  }
}
article {
  overflow: hidden;
  .feature-img {
    position: relative;

    float: left;
    overflow: hidden;

    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
    img {
      position: absolute;
      top: 50%;
      left: 50%;

      min-width: 100%;
      min-height: 100%;

      transform: translate(-50%, -50%);
    }
    .subdescr {
      font-weight: 700;

      position: absolute;
      right: 0;
      bottom: -15px;
      left: 0;

      padding: 5px 0;

      text-align: center;

      color: #fff;
      background-color: rgba(0, 0, 0, .82);
      a {
        color: #d54739;
      }
    }
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 160%;
  }
  h3 {
    font-size: 140%;
  }
  h4 {
    font-size: 130%;
  }
  h5 {
    font-size: 120%;
  }
  h6 {
    font-size: 110%;
  }
  .subdescr {
    font-size: 120%;
    font-weight: normal;

    margin: 0 0 15px;

    background: none;
    span {
      color: #d54739;
    }
  }
}
.subdescr-loop {
  font-size: 12px;
  font-weight: normal;

  margin: 0 0 10px;
  padding: 0 10px 0 0;

  color: #00aeff;
  background-color: transparent;
  span {
    font-weight: bold;

    display: block;
  }
  &.subdescr-loop-pricer {
    color: #d54739;
    span {
      color: #00aeff;
    }
  }
}
.inner-title {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 400;

  overflow: hidden;

  padding: 2px 9px;

  color: #000;
  background: #f8f8f6;
  a {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;

    padding: 2px 9px;

    text-decoration: none;

    color: #000;
    background: #f8f8f6;
  }
}
.looper {
  margin: 0 0 20px;

  @extend .clearfix;
  .inner-title {
    margin: 0 0 10px;
  }
  .feature-img {
    float: left;

    width: 30%;
    margin-right: 10px;
    img {
      max-width: 100%;
    }
  }
  .date {
    font-size: 80%;
  }
}

.pagination {
  text-align: center;

  @extend .clearfix;
  span,
  a {
    display: inline-block;

    padding: 5px;
    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
  }
}

.products-loader {
  height: 400px;

  background-image: url(../img/loader_gif.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.products-pricetable {
  opacity: 0;
  h6 {
    font-size: 120%;
    font-weight: bold;

    display: block;

    width: 100%;
    margin: 0 0 10px;

    background: none;
  }
}
.products-pricetable--filters {
  display: flex;
  flex-direction: row;

  margin: 0 0 15px;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}
.loop-products--container {
  display: block;
  .looper-proder {
    float: left;
    overflow: hidden;

    width: 260px;
    margin: 0 5px 10px;
    .inner-title {
      font-weight: bold;

      margin: 0;
      padding: 10px 0;
    }
  }
}

.breadcrumbs {
  display: block;

  margin: 0 0 15px;
  padding: 0;

  list-style-type: none;
  li {
    display: inline-block;
    &.separator {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
.products-pricetable--filters-h {
  display: flex;
  flex-direction: row;

  margin: 0 0 15px;
  margin-bottom: 10px;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  label {
    font-weight: bold;

    display: inline-block;
  }
}
.categories--loopers {
  margin: 0 0 30px;
  padding: 0;
  li {
    display: inline-block;

    width: 250px;
    margin: 0 10px 10px;
    a {
      display: block;

      padding: 0 0 10px;

      text-decoration: none;

      background-color: #f8f8f6;
    }
    img {
      width: 100%;
    }
    h2 {
      margin: 0;
      padding: 0;

      background: none;
    }
  }
}
.loop-relative {
  h4 {
    font-size: 26px;

    margin: 0 0 20px;

    background: none;
  }
}
