
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=d5f51aca5375cfc35f8965d587582fef
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress